In [1]:
from pyspark.sql import SparkSession

In [2]:
## Lets deep dive into some important date functions in Pyspark

##add_months
##date_add
##date_sub
##year
##month
##dayofmonth
##dayofweek
##dayofyear
##datediff

In [3]:
from pyspark.sql.functions import *

In [4]:
spark = SparkSession.builder.appName("abhi-09/20").master('yarn').getOrCreate()

In [5]:
data = [('2020-01-01','company1'),('2020-02-02','company2'),('2023-04-28','company3')]

In [6]:
data_schema = 'intial_date string ,name string'

In [7]:
new_df = spark.createDataFrame(data=data,schema=data_schema)

In [8]:
new_df.printSchema()

root
 |-- intial_date: string (nullable = true)
 |-- name: string (nullable = true)

In [9]:
## add_months method

In [10]:
new_df.select("intial_date",add_months("intial_date",2).alias("date_after_2months")).show()

+-----------+------------------+
|intial_date|date_after_2months|
+-----------+------------------+
| 2020-01-01|        2020-03-01|
| 2020-02-02|        2020-04-02|
| 2023-04-28|        2023-06-28|
+-----------+------------------+

In [11]:
## Using date_add function

In [12]:
new_df.select(new_df.intial_date,date_add("intial_date",20).alias("date_after_20_days")).show()

+-----------+------------------+
|intial_date|date_after_20_days|
+-----------+------------------+
| 2020-01-01|        2020-01-21|
| 2020-02-02|        2020-02-22|
| 2023-04-28|        2023-05-18|
+-----------+------------------+

In [13]:
## Using add_sub function

In [14]:
new_df.select(col('intial_date'),date_sub("intial_date",20).alias("date_before_20_days")).show()

+-----------+-------------------+
|intial_date|date_before_20_days|
+-----------+-------------------+
| 2020-01-01|         2019-12-12|
| 2020-02-02|         2020-01-13|
| 2023-04-28|         2023-04-08|
+-----------+-------------------+

In [15]:
## Using year, month, dayofmonth, dayofweek , dayofyear functions

In [16]:
new_df.select(col('intial_date') \
,year("intial_date").alias("YEAR") \
,month("intial_date").alias("MONTH") \
,dayofmonth("intial_date").alias("DAY") \
,dayofweek("intial_date").alias("DAY OF WEEK") \
,dayofyear("intial_date").alias("DAY OF YEAR")) \
.show()

+-----------+----+-----+---+-----------+-----------+
|intial_date|YEAR|MONTH|DAY|DAY OF WEEK|DAY OF YEAR|
+-----------+----+-----+---+-----------+-----------+
| 2020-01-01|2020|    1|  1|          4|          1|
| 2020-02-02|2020|    2|  2|          1|         33|
| 2023-04-28|2023|    4| 28|          6|        118|
+-----------+----+-----+---+-----------+-----------+

In [17]:
## using datediff function

In [18]:
new_df.select(datediff(current_date(),"intial_date").alias("date_difference_with_current_date"))

+---------------------------------+
|date_difference_with_current_date|
+---------------------------------+
|                             1358|
|                             1326|
|                              145|
+---------------------------------+